html
  head
    title= 'Art Museum API'
    meta(charset='utf-8')
    link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")

    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    header
      h1= 'Art Museum API'
    h2='List of Art Museums'
    div(class='container')
        for museum in museums
          div
            h4= museum.name
            h4=museum.address.city
            h4=museum.address.state
            for exhibit in museum.exhibit
              h5=`Featured exhibit: ${museum.exhibit[0].exhibitName}` 
              h6=museum.exhibit[0].description